<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SixPack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SixPack.Properties.Settings>
            <setting name="Globalization_Portugal_PhoneNumber_PhonePattern_International" serializeAs="String">
                <value>^(\+|00)\d+$</value>
            </setting>
            <setting name="Globalization_Portugal_PhoneNumber_PhonePattern_ShortNumber" serializeAs="String">
                <value>^1\d+$</value>
            </setting>
            <setting name="Globalization_Portugal_PhoneNumber_PhonePattern_FixedService" serializeAs="String">
                <value>^2[1-9]\d{7,}$</value>
            </setting>
            <setting name="Globalization_Portugal_PhoneNumber_PhonePattern_NomadicService" serializeAs="String">
                <value>^3\d$+</value>
            </setting>
            <setting name="Globalization_Portugal_PhoneNumber_PhonePattern_AudioText" serializeAs="String">
                <value>^6\d+$</value>
            </setting>
            <setting name="Globalization_Portugal_PhoneNumber_PhonePattern_PrivateVoiceNetwork" serializeAs="String">
                <value>^7\d+$</value>
            </setting>
            <setting name="Globalization_Portugal_PhoneNumber_PhonePattern_FreeServices" serializeAs="String">
                <value>^8\d+$</value>
            </setting>
            <setting name="Globalization_Portugal_PhoneNumber_PhonePattern_MobileCommunicationServices" serializeAs="String">
                <value>^9[1263]\d{7,}$</value>
            </setting>
            <setting name="Globalization_Portugal_PostalCode_PostalCodePattern" serializeAs="String">
                <value>^\d{4}-\d{3}$</value>
            </setting>
            <setting name="Globalization_Portugal_FiscalCode_FiscalCodePattern" serializeAs="String">
                <value>^\d{9}$</value>
            </setting>
            <setting name="Globalization_Portugal_VatCode_VatCodePattern" serializeAs="String">
                <value>^(PT){0,1}[0-9]{9}$</value>
            </setting>
        </SixPack.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
