<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
        <section name="RsaSmallPublicKeySection_ShouldLoad" type="SixPack.Security.Cryptography.Configuration.RsaSmallPublicKeySection, Fullsix" />
        <section name="RsaSmallPublicKeySection_P_MissingModulus" type="SixPack.Security.Cryptography.Configuration.RsaSmallPublicKeySection, Fullsix" />
        <section name="RsaSmallPublicKeySection_P_EmptyModulus"  type="SixPack.Security.Cryptography.Configuration.RsaSmallPublicKeySection, Fullsix" />
        <section name="RsaSmallPublicKeySection_P_InvalidModulus" type="SixPack.Security.Cryptography.Configuration.RsaSmallPublicKeySection, Fullsix" />
        <section name="RsaSmallPublicKeySection_P_VariousValues1" type="SixPack.Security.Cryptography.Configuration.RsaSmallPublicKeySection, Fullsix" />
        <section name="RsaSmallPublicKeySection_P_VariousValues2" type="SixPack.Security.Cryptography.Configuration.RsaSmallPublicKeySection, Fullsix" />
        <section name="RsaSmallPublicKeySection_P_VariousValues3" type="SixPack.Security.Cryptography.Configuration.RsaSmallPublicKeySection, Fullsix" />
        <section name="RsaSmallPublicKeySection_P_VariousValues4" type="SixPack.Security.Cryptography.Configuration.RsaSmallPublicKeySection, Fullsix" />
        <section name="RsaSmallPublicKeySection_P_MissingExponent" type="SixPack.Security.Cryptography.Configuration.RsaSmallPublicKeySection, Fullsix" />
        <section name="RsaSmallPublicKeySection_P_EmptyExponent" type="SixPack.Security.Cryptography.Configuration.RsaSmallPublicKeySection, Fullsix" />
        <section name="RsaSmallPublicKeySection_P_InvalidExponent" type="SixPack.Security.Cryptography.Configuration.RsaSmallPublicKeySection, Fullsix" />

        <section name="RsaSmallCodeParserSection_ShouldLoad" type="SixPack.Security.Cryptography.Configuration.RsaSmallCodeParserSection, Fullsix" />
    </configSections>

    <RsaSmallPublicKeySection_ShouldLoad        modulus="1" exponent="2" />
    <RsaSmallPublicKeySection_P_MissingModulus  exponent="2" />
    <RsaSmallPublicKeySection_P_EmptyModulus    modulus="" exponent="2" />
    <RsaSmallPublicKeySection_P_InvalidModulus  modulus="Hello World!" exponent="2" />
    <RsaSmallPublicKeySection_P_VariousValues1  modulus="0" exponent="0" />
    <RsaSmallPublicKeySection_P_VariousValues2  modulus="DEAD" exponent="BEEF" />
    <RsaSmallPublicKeySection_P_VariousValues3  modulus="01234567CAFEBABE" exponent="FEEDFACE01234567" />
    <RsaSmallPublicKeySection_P_VariousValues4  modulus="0BADF00DCAFEBABEFEEDFACEDEADBEEF" exponent="DEADBEEFFEEDFACECAFEBABE0BADF00D" />
    <RsaSmallPublicKeySection_P_MissingExponent modulus="1" />
    <RsaSmallPublicKeySection_P_EmptyExponent   modulus="1" exponent="" />
    <RsaSmallPublicKeySection_P_InvalidExponent modulus="1" exponent="This exponent is invalid..." />

    <RsaSmallCodeParserSection_ShouldLoad initial-alphabet="ABCDEFGHIJ" final-alphabet="0123456789" code-length="3">
        <public-key modulus="1" exponent="2" />
    </RsaSmallCodeParserSection_ShouldLoad>

    <connectionStrings>
		<clear />	
		<add name="default"
		 connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Testing.mdf;Integrated Security=True;User Instance=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="FileLogLevel" value="31"/>
		<add key="FileLogFile" value="\\127.0.0.1\log$\fullsix.test.{0:yyyyMMdd}.log.txt"/>
	</appSettings>
</configuration>
